<p-dialog [(visible)]="displayModal" [modal]="true" [style]="{width: '15vw'}" [draggable]="false" [resizable]="false">
    <div class = "addEditProductForm" *ngIf = "product">   
        <div>
            <label>Name</label><br>
            <input pInputText [(ngModel)] = "product.name" placeholder = "Enter here..."/>
        </div>
        <div>
            <label>Price</label><br>
            <input pInputText [(ngModel)] = "product.price" placeholder = "Enter here...">
        </div>
        <div>
            <label>Country</label><br>
            <input pInputText [(ngModel)] = "product.country" placeholder = "Enter here..."/>
        </div>
        <button pButton type = "button" (click)="createProduct(product)" *ngIf="!product.id">Add</button>
        <button pButton type = "button" (click)="updateProduct(product, product.id)" *ngIf="!product.id">Update</button>
    </div>
</p-dialog>
<button pButton pRipple type="button" label="Create product" class="p-button-raised" (click) = "showModal()"></button>
<button pButton pRipple type="button" label="Update product" class="p-button-raised" (click) = "showModal()"></button>
