    <div *ngIf = "product">   
        <div>
            <label>Name</label><br>
            <input pInputText [(ngModel)] = "product.name" placeholder = "Enter here..."/>
        </div>
        <div>
            <label>Price</label><br>
            <input pInputText [(ngModel)] = "product.price" placeholder = "Enter here...">
        </div>
        <div>
            <label>Country</label><br>
            <input pInputText [(ngModel)] = "product.country" placeholder = "Enter here..."/>
        </div>
        <button pButton type = "button" (click) = "createProduct(product)" *ngIf = "!product.productId">Add</button>
        <button pButton type = "button" (click) = "updateProduct(product)" *ngIf = "product.productId">Update</button>
    </div>