<p-dialog header="Add product" [(visible)]="displayModal" [modal]="true" [style]="{width: '15vw'}" [draggable]="false" [resizable]="false">
    <div class = "addproductForm">   
        <div class="field">
            <label class="block">Name</label><br>
            <input pInputText [(ngModel)] = "Name" placeholder = "Enter here..."/>
        </div>
        <div class="field">
            <label  class="block">Price</label><br>
            <input pInputText [(ngModel)] = "Price" placeholder = "Enter here...">
        </div>
        <div class="field">
            <label  class="block">Country of origin</label><br>
            <input pInputText [(ngModel)] = "Country" placeholder = "Enter here..."/>
        </div>
        <button pButton pRipple type="button" label="Add" class="p-button-raised" (click) = "addProducts()"></button>
    </div>
</p-dialog>
<div class = "addProductButton">
    <button pButton pRipple type="button" label="Add product" class="p-button-raised" (click) = "showAddModal()"></button>
</div>